h1 {
font-kerning: 5;
font-style: italic;
color: paleturquoise;
}

p {
font-kerning: 5;
font-style: italic;
color: palevioletred;
}

h3 {
font-kerning: 5;
font-style: italic;
color: darkcyan;
}

body {
    background-color: blanchedalmond;
    text-align: center;
}