h1 {
font-kerning: 5;
font-style: italic;
color: lightblue;
}

p {
font-kerning: 5;
font-style: italic;
color:aliceblue;
}

h3 {
font-kerning: 5;
font-style: italic;
color:aquamarine;
}

body {
    background-color: blanchedalmond;
}